* {
    background-color:#2E4770;
    color:#ECC6A2;
    overflow: auto;
  }
  
  h1, h3, h4 {
    color: #ECA089;
  }
  
  a {
    color: #CE5E82;
  }

  table, th, td {
      border: 1px solid;
  }

  #side {
    float: right;
  }
